@keyframes moveInRight {
  0% {
    opacity: 0;
    width: 0px; }
  80% {
    width: 50%; } }

.pages > a {
  cursor: default;
  text-decoration: none;
  color: white; }

.pages > a:hover {
  cursor: pointer;
  text-decoration: underline; }

.map > a {
  cursor: default;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500; }

.map > a:hover {
  cursor: pointer;
  text-decoration: underline; }

p {
  color: #7a7a7a;
  line-height: 30px; }

.paragraphpopUp {
  margin-left: 53px;
  margin-bottom: 30px;
  margin-right: 23px; }

.cyanSpan {
  color: #3cb4ac;
  font-size: 15px;
  font-weight: 500; }

span {
  font-size: 14px;
  padding: 15px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto; }

.paragraphBlack {
  font-size: 32px;
  font-weight: 700;
  color: black; }
  .paragraphBlack_popUp {
    font-size: 18px; }

#price::before {
  content: "$";
  font-size: 32px;
  font-weight: 700;
  color: black; }

.h1_heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#total::before {
  content: "$"; }

#total::after {
  content: "backed"; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px; }

.btn:link, .btn:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  width: 170px; }

.btn_black {
  background-repeat: no-repeat;
  background-size: contain;
  color: #7a7a7a; }
  .btn_black::after {
    background-color: #f2f2f2; }
  .btn_black::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.btn_black:hover {
  opacity: 0.5; }

.btn_green {
  background-color: #3cb4ac;
  color: white; }
  .btn_green::after {
    background-color: #f2f2f2; }
  .btn_green::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.btn_out {
  background-color: #7a7a7a;
  color: white; }

.btn_green:hover {
  background-color: #147b74; }

.btn_holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 40px; }

.btn_content {
  margin-left: 15px; }

.btn-animated {
  animation: moveInBotton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

#burger_icon:hover, #close_icon:hover {
  cursor: pointer; }

.pgb_holder {
  background-color: #f2f2f2;
  height: 15px;
  border-bottom: 10px;
  width: 90%;
  border-radius: 10px; }

.pgb_field {
  background-color: #3cb4ac;
  height: 100%;
  border-radius: 10px;
  animation: moveInRight 1s ease-out; }

input[type="radio"] {
  margin: 20px; }

input[type="number"] {
  width: 100px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid lightgray; }

input[type="number"]::before {
  content: "$";
  font-size: 32px;
  font-weight: 700;
  color: black; }

img[alt="Check"] {
  width: 110px; }

img[alt="burger_box"] {
  display: none; }

input[type="number"]:focus {
  outline: none;
  border-color: #3cb4ac; }

.header {
  height: 400px;
  background-image: url(./images/image-hero-desktop.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  position: relative; }

.header_box {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px; }

.pages {
  display: flex;
  justify-content: space-around;
  width: 225px;
  height: 16px; }

section {
  background-color: #f2f2f2; }

.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 50%;
  margin: 0 auto;
  transform: translateY(-70px); }

.first_element {
  position: relative;
  height: 297px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: white;
  align-items: center;
  border-radius: 10px; }

.element__logo-box {
  transform: translateY(-25px); }

.second_holder {
  display: flex;
  position: relative;
  height: 212px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  align-items: center; }

.second_element {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  align-items: center;
  justify-content: space-around;
  width: 100%; }

.data_holder {
  padding: 20px;
  width: 30%; }

.data_holder:nth-child(2) {
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray; }

.groupElement {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background-color: white;
  align-items: center;
  border-radius: 10px; }
  .groupElement_popUp {
    width: 50%;
    margin: 10% auto; }

.first_In {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 90%;
  margin-top: 25px; }

.label_holder {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border: solid 1px lightgray;
  border-radius: 10px;
  width: 90%;
  padding: 25px; }
  .label_holder_out {
    opacity: 0.5;
    margin-bottom: 20px; }
  .label_holder_popUp {
    padding: 0; }

.labelDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.label_bottom {
  display: flex;
  justify-content: space-between; }

.number_holder {
  display: flex;
  align-items: center;
  column-gap: 10px; }

.chose_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px; }

.chose_holder:active {
  color: #3cb4ac; }

.pop_Up {
  display: none;
  position: absolute;
  background-color: rgba(102, 94, 94, 0.631373);
  width: 100%;
  height: 250%;
  top: 0;
  left: 0;
  z-index: 1; }

#close {
  position: absolute;
  right: 2%;
  top: 2%; }

#close:hover {
  cursor: pointer; }

.radio_holder {
  width: 53px; }

.heading_holder {
  width: 90%;
  display: flex;
  justify-content: space-between; }

.title_chose {
  display: flex;
  align-items: center;
  column-gap: 15px; }

.input_activ {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: all 1s;
  border-top: 1px solid; }
  .input_activ_support {
    justify-content: flex-end; }

.input_holder {
  display: flex;
  column-gap: 15px; }

.accept {
  display: none;
  position: absolute;
  background-color: rgba(102, 94, 94, 0.631373);
  width: 100%;
  height: 250%;
  top: 0;
  left: 0;
  z-index: 1; }

.confirm {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  width: 40%;
  margin: 20% auto;
  padding: 30px; }

.mobile_menu {
  display: none;
  position: absolute;
  background-color: rgba(102, 94, 94, 0.631373);
  width: 100%;
  height: 250%;
  top: 0;
  left: 0;
  z-index: 1; }

.map {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  margin: 20% auto;
  padding: 30px; }

@media (min-width: 150px) and (max-width: 550px) {
  body {
    font-size: 14px; }
  .header {
    background-image: url(./images/image-hero-mobile.jpg); }
  img[alt="burger_box"] {
    display: block; }
  .pages {
    display: none; }
  .header_box {
    margin-left: 0;
    margin-right: 0; }
  .container {
    width: 90%; }
  .btn_holder {
    padding: 0;
    justify-content: space-around; }
  #button_black {
    width: auto; }
  #bookmark {
    display: none; }
  h1 {
    text-align: center; }
  #paragraphHead {
    text-align: center;
    padding: 5px; }
  .second_holder {
    height: auto; }
  .second_element {
    flex-direction: column;
    margin-top: 20px; }
  .data_holder {
    padding: 0;
    width: auto; }
  .data_holder:nth-child(2) {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    border-left: none;
    border-right: none; }
  .pgb_holder {
    margin-bottom: 20px; }
  .h1_heading {
    flex-direction: column;
    align-items: flex-start; }
  .label_bottom {
    flex-direction: column; }
  .number_holder {
    margin-bottom: 20px; }
  .input_activ {
    width: 100%;
    flex-direction: column; }
  .groupElement_popUp {
    width: 90%; }
  .label_holder_popUp {
    flex: none;
    flex-wrap: wrap; }
  .paragraphpopUp {
    margin-left: 20px; }
  .numberpopUp {
    order: 1;
    margin-left: 20px; }
  .confirm {
    width: 90%; }
  .title_chose {
    flex-wrap: wrap; }
  img[alt="close_menu"] {
    position: absolute;
    right: 47px;
    top: 48px;
    width: 20px; }
  .map {
    width: 90%; } }

@media (min-width: 550px) and (max-width: 1050px) {
  body {
    font-size: 15px; }
  .container {
    width: 80%; }
  .header_box {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px; }
  #paragraphHead {
    text-align: center; }
  .groupElement_popUp {
    width: 80%; }
  .confirm {
    width: 90%; } }
