input[type="radio"] {
  display: grid;
  place-content: center;
  margin: 20px;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.30em;
  height: 1.30em;
  border: 1px solid lightgray;
  border-radius: 50%;
  transform: translateY(-0.075em);

}

input[type="radio"]::before{
  content: "";
  width: 0.70em;
  height: 0.70em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $color_Moderate_cyan;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}


input[type="number"] {
  width: 100px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid lightgray;
}

input[type="number"]::before {
  content: "$";
  font-size: 32px;
  font-weight: 700;
  color: $color_Black;
}

img[alt="Check"] {
  width: 110px;
}

img[alt="burger_box"]{
  display: none;
}

input[type="number"]:focus{
  outline: none;
  border-color: $color_Moderate_cyan;
}